.list {
	background-color: bisque;
	width: 200px;
	height: max-content;
	margin-bottom: 0;
	flex-shrink: 0;
	position: absolute;
	top: 0px;
	list-style-type: disc;
}
.all {
	height: max-content;
	display: flex;
}
.colored {
	background-color: aqua;
	position: relative;
	width: 200px;
	margin-bottom: 0;
	flex-shrink: 0;
}
.text {
	background-color: darkgray;
	position: relative;
	margin: 0;
}
footer {
	position: fixed;
	display: flex;
	height: 70px;
	width: 101%;
	background-color: limegreen;
	bottom: 0;
	margin: 0 -10px 0 -10px;
}