html 
{
	font-family: Arial;
}
body 
{
	margin: 0 auto;
	color:#ffffff;
}
.content {
	width: 600px;
	margin: 10px auto;
	background-color: #0000ff;
	display: flex;
	flex-shrink: 0;
	overflow-x: auto;
}