html 
{
		font-family: Arial;
}
body 
{
	margin: 0 auto;
	color:#ffffff;
}
a 
{
	color: #ff0303;
}
h1 
{
	margin: 0;
	margin-bottom: 10px;
	padding-top: 17px;
	padding-bottom: 7px;
}
.headerstyle 
{
	background-color: #008000;
	background-size: cover;
	color: #ffffff;
	font-family: Consolas;
	text-align: center;
	height: 25px;
	padding-top: 5px;
	font-size: 14px;
}
.footerstyle 
{
	background-color: #008000;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	height: 25px;
	padding-top: 5px;
}
.allcontent 
{
	width: 447px;
	margin: 0 auto;
	padding-left: 22px;
	padding-right: 22px;
	background-color: #0000ff;
}
.content 
{
	margin: 0 auto;
}
.box 
{
	float: left;
	margin-right: 19px;
	margin-bottom: 27px;
	width: 59px;
	height: 59px;
	border: 4px solid #ffffff;
	padding: 1em;
	border-color: #ffffff;
	border-radius: 15% 0% 25% 0%;
}
p 
{
	margin-top: 0px;
	margin-bottom: 10px;
	width: 447px;
}
.hypertext 
{
	text-align: center;
}
h2, .h2content 
{
	word-spacing: 0.25em;
	width: 440px;
	margin: 0px;
	margin-top: 8px;
}
.here 
{
	color: #ff0000;
	width: 440px;
	margin: 0 auto;
}
.list 
{
	width: 440px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 5px;
}
.value2
{
	color: #00ffff;
	letter-spacing: 0.5em;
}
.h2item
{
	margin: 0;
	margin-bottom: 10px;
}
.content2 
{
	width: 440px;
	display: flex;
	justify-content: space-between;
	background-color: #0000ff;
}
.list2 
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline-block;
}
.h3item 
{
	margin: 0px;
	margin-bottom: 10px;
}
.h3item:first-child
{
	font-size: large;
}
.h3item:last-child 
{
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.table
{
	border: 1px solid #ffffff;
	align-self: flex-end;
	margin-right: -80px;
}
td {
	width: 38px;
	height: 28px;
	border: 1px solid #ffffff;
	text-align: center;
	vertical-align: bottom;
}
.td1 
{
	background-color: #008000;
}
.td7
{
	background-color: #ff0000;
}
.imgs 
{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-self: flex-end;
	margin-bottom: 15px;
	
}